%c-button-major {
  @include resetButton();
  background: #000000;
  color: map_get($textColors, inverted);
  font-size: 1.1rem;
  font-weight: 800;
  padding: 10px 20px;
  text-transform: uppercase;
}