.c-main-page {

}

  .c-main-page__bg-shade {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 50%;
    background: map_get($componentColors, main-page__bg-shade);
  }

  .c-main-page__content {
    position: relative;
  }